body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    align-items: center;
}

.links {
    display: flex;
    gap: 10px;
}

.header-logo {
    font-family: Roboto;
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-one {
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
}

.container-one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.container-two {
    display: flex;
    flex-basis: 200px;
}

.placeholder {
    width: 200px;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.blackmain-text {
    font-size: 36px;
    color: #000;
    font-weight: 900;
    font-family: 'Helvetica Neue', sans-serif;
}

.hero-two {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.hero-three {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px 500px 48px 500px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.speaker {
    font-weight: 900;
    font-size: 36px;
    text-align: right;
}

.hero-four {
    display: flex;
}


.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    padding: 20px;
}

img {
    width: 200px;
    height: auto;
}

.catcatimage {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.catimage {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.ctabox {
    display: flex;
    background-color: #3882f6;
    padding: 25px;
    align-items: center;
}

.bmain-text {
    font-size: 28px;
    color: #f9faf8;
    font-weight: 900;
}