body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
}

.links {
    display: flex;
    gap: 10px;
}

.header-logo {
    font-family: Roboto;
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-one {
    background-color: #1f2937;
}

.hero-two {
    background-color: #fff;
}

.hero-three {
    background-color: #e5e7eb;
}

.hero-four {
    background-color: #fff;
}

.footer {
    background-color: #1f2937;
}